.AboutMe {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutMe h1 {
  font-size: 150px;
  position: relative;
  left: 75px;
  color: antiquewhite;
  z-index: 1;
}

.AboutMe h2 {
  width: 60%;
  z-index: 2;
}
