.Header {
  position: absolute;
  height: 70px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 10;
}

.Header a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.Header a:hover {
  filter: drop-shadow(0px 0px 5px white);
  transition: all 500ms ease;
}

.logo {
  margin-left: 10px;
  font-family: cursive;
  font-size: 28px;
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}

.logo:hover {
  box-shadow: 0 0 10px white;
}

.navMenu {
  display: flex;
  gap: 20px;
  font-family: "Orbit", sans-serif;
}

.navMenu a {
  font-size: 32px;
}

.activeLink {
  filter: drop-shadow(0px 0px 5px white);
}

.icons {
  margin-right: 10px;
  display: flex;
  width: 80px;
  justify-content: space-around;
  z-index: 20;
}
