.Header {
  position: absolute;
  height: 60px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  margin-left: 10px;
  font-family: cursive;
  font-size: 28px;
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px;
}

.icons {
  margin-right: 10px;
  display: flex;
  width: 80px;
  justify-content: space-around;
}

.iconWrapper {
  cursor: pointer;
  color: white;
}

.iconWrapper:hover {
  color: blue;
}
